<style>
body {margin:0;}


 #header{
 
    text-align: center;
    border:2px solid #000000;
    background-color: #cc0001;
    margin: 10px;
    color: #ffff00;
         }




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:2px solid #000000;
    background-color: #ffff00;
    position: fixed;
    top: 0;
    width: 50%;
    position: center
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
}



p{
    padding: 20px;
}

#container{
    text-align: center;
    font-size: 15px;
    padding: 70px;
    border:2px solid #000000;
}


 #footer{
 
    text-align: center;
    border:2px solid #000000;
    background-color: #ffff00;
    margin: 20px;
    color: #cc0001;

         }

    


</style>